body {
    margin: 0;
    font-size: x-large;
    -webkit-user-select: none;
    user-select: none;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("../images/background/creeperbk.jpg");
    background-size: cover;
    position: absolute;
    color: azure;
}

#tamagotchiImg {
    width: 500px;
    height: 600px;
    object-fit: contain;
}

#gameplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#top-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.566);
    padding: 15px;
    border-bottom: 3px solid black;
    box-shadow: 0px 0px 5px white;

}

#bottom-sec {
    border-top: 3px solid black;
    box-shadow: 0px 0px 5px white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.566);
    padding: 15px;
    margin-top: auto;
}

#cleanBar, #healthBar, #hungerBar, #boredomBar{
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 20px;
    border-radius: 5px;
}

#boredomBar::-moz-progress-bar{
    background-color: blue;
}

#healthBar::-moz-progress-bar{
    background-color: red;
}

#hungerBar::-moz-progress-bar{
    background-color: brown;
}

#cleanBar::-moz-progress-bar{
    background-color: rgb(255, 221, 0);
}

#boredomBar::-webkit-progress-bar{
    background-color: white;
}

#healthBar::-webkit-progress-bar{
    background-color: white;
}

#hungerBar::-webkit-progress-bar{
    background-color: white;
}

#cleanBar::-webkit-progress-bar{
    background-color: white(255, 221, 0);
}

#boredomBar::-webkit-progress-value{
    background-color: blue;
}

#healthBar::-webkit-progress-value{
    background-color: red;
}

#hungerBar::-webkit-progress-value{
    background-color: brown;
}

#cleanBar::-webkit-progress-value{
    background-color: rgb(255, 221, 0);
}

#yousuck {
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    color:rgb(0, 255, 217);
    font-size: xxx-large;
    font-weight: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}